<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <title>MODI Entry</title>

    <link href="./dist/entry.css" rel="stylesheet" />

    <link href="../libs/entry-tool/dist/entry-tool.css" rel="stylesheet"/>
</head>

<body>
<section class="wrapper">
    <div id="workspace" class="entry">
        <div id="textCanvasContainer" style="display: none;"></div>
</section>

<!--Jquery -->
<script src="../libs/jquery/jquery.min.js"></script>
<script src="../libs/jquery-ui/ui/minified/jquery-ui.min.js"></script>

<!--underscore -->
<script src="../libs/underscore/underscore.js"></script>

<!--canvas input-->
<script src="./extern/util/CanvasInput.js"></script>

<!--Blockly-->
<!-- <script src="./extern/blockly/blockly_compressed.js"></script>
<script src="./extern/blockly/msg/js/ko.js"></script> -->

<!--react-->
<script crossorigin src="../libs/react.production.min.js"></script>
<script crossorigin
        src="../libs/react-dom.production.min.js"
></script>

<!--createjs-->
<script src="../libs/PreloadJS/lib/preloadjs-0.6.0.min.js"></script>
<script src="../libs/EaselJS/lib/easeljs-0.8.0.min.js"></script>
<script src="../libs/SoundJS/lib/soundjs-0.6.0.min.js"></script>
<script src="../libs/SoundJS/lib/flashaudioplugin-0.6.0.min.js"></script>
<script src="./extern/util/ndgmr.Collision.js"></script>
<script src="./extern/util/handle.js"></script>

<!--bignumber-->
<script src="./extern/util/bignumber.min.js"></script>

<!--language-->
<script src="./extern/lang/ko.js"></script>

<!--socket.io-->
<script src="../libs/socket.io/1.4.5/socket.io.js"></script>

<!--codemirror-->
<script src="../libs/codemirror/5.23.0/codemirror.js"></script>

<!--entrytool-->
<script src="../libs/entry-tool/dist/entry-tool.js"></script>

<!--entryjs-->
<script src="../libs/components-webfontloader/webfont.js"></script>
<script src="./extern/util/static.js"></script>

<!-- <script src="/dist/entry.js?8eef43bd207438ca2fe7"></script> -->
<!--<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>-->
<!--<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>-->
<!--<% } %>-->
 <script src="./dist/entry.js"></script>
 <script src="./extern/util/static.js"></script>

<!--main script-->
<script>
                window.PUBLIC_PATH_FOR_ENTRYJS = './dist/';

                function loadProject(project, volume, guideList, modiList) {

                <!--console.log('html modiData.volume', volume);-->
                <!--console.log('html modiData.guideList', guideList);-->
                <!--console.log('html modiData.modiList', modiList);-->

                Entry.volume = volume;
                Entry.guideList= guideList;
                Entry.modiList= modiList;


                    if(project != null) {

                        $(document).ready(function() {
                            var initOption = {
                                type: 'workspace',
                            };
                            Entry.init(document.getElementById('workspace'), initOption);
                            Entry.loadProject(project);
                        });

                    }

                    else {
                        console.log('project is 0', project);
                        $(document).ready(function() {
                            var initOption = {
                                type: 'workspace',
                            };
                            Entry.init(document.getElementById('workspace'), initOption);
                            Entry.loadProject();

                        });
                    }
                }


                 function setConnectModule(module) {

                   let result = '';
                   const moduleToken = module.split('?');

                   for (var i = 0; i < moduleToken.length; i++) {

                        result += moduleToken[i] + '\n';
                   }
                   Entry.module = result;
                 }

                 function setSaveProject() {
                    let project = Entry.exportProject()
                    let json = JSON.stringify(project);

                    window.android.exportProject(json);
                 }

                 function enableRemote() {

                    Entry.enableRemote()
                 }

                 function disableRemote() {

                    Entry.disableRemote()
                 }

                 function clearProject() {
                    Entry.clearProject()
                 }

            </script>
</body>
</html>